body{
  background-image: url("img/background.jpg");
  background-size: cover;
}

.container{
  background-color: hsla(360, 0%, 0%, 0.5);
  width: 800px;
  margin: auto;
  margin-top: 20px;
  border-radius: 5%;
  padding: 100px;
  font-family: sans-serif;
}

/* logo e titolo */
header{
  text-align: center;
  color: lime;
}

header > img {
  width: 300px;
}

header > div{
  background-color: lime;
  width: 800px;
  padding: 10px;
}

/* corpo del testo */
section{
  color: white;
  margin-top: 25px;
}

h2{
  display: inline-block;
  margin: 0;
}

section > div:before{
  content: "\21A6"
}

#BatteriaGino{
  display: inline-block;
  background-color: orange;
  width: 300px;
  height: 30px;
  border-radius: 10%
}

#BatteriaMike{
  display: inline-block;
  background-color: green;
  width: 500px;
  height: 30px;
  border-radius: 10%
}

#BatteriaFede{
  display: inline-block;
  background-color: red;
  width: 150px;
  height: 30px;
  border-radius: 10%
}
